/* Component 1 */

.contenedor-G{
    position: absolute;
    width: 40px;
    height: 37px;
    left: 20px;
    top: 320px;
}

.circulo-G{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FFFFFF;
    border-radius: 23px;
}

.imagen-G{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 16.28%;
    right: 13.95%;
    top: 16.28%;
    bottom: 13.95%;
}